body{
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

h1{
  font-size: 40px;
}
.flex-container{
  z-index: 1;
}

.board{
  background-image: url('../image/gridme.png');
}

.form{
  width: 400px;
  height: 400px;
  position:fixed;
  top:50%;
  left:50%;
  margin-top: -200px;
  margin-left: -200px;
  background-color: #222;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.form .name{
  margin: 10px 0px;
  height: 20px;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.form .submit{
  margin: 10px 0px;
  padding: 10px 20px;
  background-color: #222;
  border: 1px solid #fff;
  border-radius: 4px;
  text-align: center;
  color: #fff;
}

.score{
  position:fixed;
  width: 100px;
  height: 30px;
  margin: 10px;
  top: 0px;
  background-color: #222;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  opacity: 0.6;
  filter: alpha(opacity=60);
  display: none;
}

.ranking{
  position:fixed;
  width: 150px;
  height: 200px;
  margin: 10px;
  top: 60px;
  background-color: #222;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  opacity: 0.6;
  filter: alpha(opacity=60);
  display: none;
}
